/* Write your CSS here */
@media (min-width: 768px) {
  .notFount-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bree Serif';
    color: #ffffff;
    height: 100vh;
    font-weight: normal;
  }
}
@media (max-width: 768px) {
  .notFount-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bree Serif';
    color: #ffffff;
    height: 100vh;
    font-weight: normal;
  }
}
