/* Write your CSS here */
.team-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#d91c1f, #0f172a);
  font-family: 'Bree Serif';
  padding: 10px;
}
.side-heading {
  color: #ffffff;
  align-self: flex-start;
  margin-left: 110px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 95px;
  align-self: center;
}
